body {
	background: #DAE2CF url(images/img02.jpg) repeat-x left top;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
	text-align: center;
	padding-top: 20px;
}

h2 {
	font-size: 2.4em;
	text-align: center;
}

h3 {
	font-size: 1em;
	text-align: center;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover{
	color: #0B6868;
}

#header {
	height: 150px;
	letter-spacing: 2px;
}

#menu {
	color: white;
	width: auto;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	background: #DAE2CF url(images/img01.jpg) repeat-x left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	text-transform: uppercase;
	font-weight: bold;
	/*border: 1px solid black;
	border-right: 2px solid black;*/
	display: inline-block;
	padding: 17px;
}

#content{
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	margin: 0px auto;
	background: #0B6868;
	width: 1000px;
	height: 600px;
}

#content p{
	padding: 8px;
	color: white;
}

#text{
	position: absolute;
	top: -5px;
	right: -550px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	margin: 0px auto;
	background: #DAE2CF url(images/img02.jpg) repeat-x left top;
	width: 500px;
	height: 500px;
}

#picture{
	border-style: solid;
	border-width: 5px;
	padding: 35px;
    height: 140px;
    width: 300px;
	position: absolute;
	background: #FFFFFF url(picture/img01.jpg);
	background-size: 100%;
}

#picture2{
	border-style: solid;
	border-width: 5px;
	padding: 35px;
    height: 140px;
    width: 300px;
	position: absolute;
	background: #FFFFFF url(picture/img02.jpg);
	background-size: 100%;
}

#pageselect{
	position: absolute;
	left: 1100px;
	color: #FFFFFF;
}

#space{
	padding: 30px;
}

#space2{
	padding: 230px 30px 30px 30px;
}

#footer {
	height: 55px;
	background: #748D55 url(images/img01.jpg) repeat;
	font-family: 'Arvo', serif;
}

#footer p {
	padding-top: 20px;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}